<div>

    <div class="m-2">
        <a asp-action="Profile" asp-controller="User">Hello @User?.Identity?.Name</a>
    </div>
    <div class="m-2">
        <a asp-action="Logout" asp-controller="Account">Logout</a>
    </div>

</div>